[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "content/photos/themes/gallery"]
	path = content/photos/themes/gallery
	url = https://github.com/nicokaiser/hugo-theme-gallery.git
